<section class="position-fixed bg-primary h-100 mob-height side ">
  <div class="container mt-4 mob-mt-0">
    <a href="/dashboard" class="logo hide-mob"><img src="/assets/iconWhite.svg" class="img-fluid" /></a>

    <ul class="p-0 mt-5 d-flex flex-column align-items-center gap-3 menu mob-mt-0 mob-flex-row mob-height">
      <li class="list-unstyled" title="home">
        <a href="/dashboard"><img src="/assets/icons/home.svg" class="w-25x" alt="" /></a>
      </li>
      <li class="list-unstyled" title="expenses">
        <a href="/expenses"><img src="/assets/icons/coins.svg" class="w-25x" alt="" /></a>
      </li>
      <li class="list-unstyled flex-grow-1 mob-grow-0 acc" title="my-account">
        <a href="/my-account"><img src="/assets/icons/user.svg" class="w-25x" alt="" /></a>
      </li>
    </ul>
  </div>
</section>