<div class="modal animate__animated animate__fadeInUp animate__faster" id="editModel" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModelLabel">Edit Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEdit" method="POST">
                    <div class="input-group flex-nowrap mb-2">
                        <span class="input-group-text"><i class="ri-time-line"></i></span>
                        <input type="time" name="time" id="timeEdit" placeholder="Enter Time" class="form-control"
                            aria-label="time" required>
                    </div>
                    <div class="input-group flex-nowrap mb-2">
                        <span class="input-group-text"><i class="ri-calendar-2-line"></i></span>
                        <input type="date" name="date" id="dateEdit" placeholder="Enter Date" class="form-control"
                            aria-label="date" required>
                    </div>
                    <div class="input-group flex-nowrap mb-2">
                        <span class="input-group-text"><i class="ri-money-rupee-circle-line"></i></span>
                        <input type="number" name="amount" id="amountEdit" placeholder="Enter amount"
                            class="form-control" min="1" max="200" aria-label="amount" required>
                    </div>
                    <div class="input-group flex-nowrap mb-2">
                        <span class="input-group-text"><i class="ri-question-line"></i></span>
                        <select name="category" id="categoryEdit"
                            class="form-control custom-select rounded-1 position-relative" aria-label="category"
                            required>
                            <option value="" disabled selected>Select category</option>
                            <option value="Food">Food</option>
                            <option value="Transport">Transport</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Personal">Personal</option>
                            <option value="MISC">Misc</option>
                        </select>
                    </div>
                    <div class="input-group flex-nowrap mb-2">
                        <span class="input-group-text"><i class="ri-sticky-note-line"></i></span>
                        <textarea name="note" id="noteEdit" class="form-control" placeholder="Add a Note"
                            aria-label="note"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="editSubmitBtn" class="btn btn-primary">Update Expense</button>
                </form>
                <form id="deleteForm" method="POST"><button type="submit" class="btn btn-danger">Delete
                        Expense</button></form>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('formEdit').addEventListener('submit', function (event) {
        const editSubmitBtn = document.getElementById('editSubmitBtn');

        editSubmitBtn.disabled = true;
        editSubmitBtn.textContent = "Updating...";
    });

    document.getElementById('editModel').addEventListener('shown.bs.modal', function () {
        setDateAttributes('dateEdit');

        const categoryEdit = document.querySelector('#categoryEdit');
        const amountEdit = document.querySelector('#amountEdit');
        const noteEdit = document.querySelector('#noteEdit');

        const item = this.currentItem;
        if (item) {
            categoryEdit.value = item.category;
            amountEdit.value = item.amount;
            noteEdit.value = item.note;
        }
    });
</script>