<section class="bg-body-tertiary p-3">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="/"><img src="/assets/mainLogo.svg" class="img-fluid w-75" /></a>

    <div class="" id="navbarNav">
      <ul class="d-flex list-unstyled gap-3">
        <li class="">
          <a class="text-black" href="/login">Login</a>
        </li>
        <li class="">
          <a class="text-black" href="/register">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</section>
